In [8]:
# importing pandas as pd
import pandas as pd

# importing numpy as np
import numpy as np

# dictionary of lists
dict = {'Name':['rachana', 'sohan', np.nan, 'kartik'],
        'age': [18, 19, 20, np.nan],
        'subject':[np.nan, 'bse', 'ds',"coa"]}

# creating a dataframe from list
df = pd.DataFrame(dict)

# using isnull() function  
df.isnull()

    Name    age  subject
0  False  False     True
1  False  False    False
2   True  False    False
3  False   True    False

In [9]:
import requests
import json
response_API = requests.get('https://gmail.googleapis.com/$discovery/rest?version=v1')
print(response_API.status_code)
data = response_API.text
parse_json = json.loads(data)
info = parse_json['description']
print("Info about API:\n", info)
key = parse_json['parameters']['key']['description']
print("\nDescription about the key:\n",key)

200
Info about API:
 The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.

Description about the key:
 API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.

In [10]:
import pandas as pd
import numpy as np
dict = {'Name':["rac","abc", np.nan, "xYz"],
        'Age': [19, 43, 65, np.nan],
        'Score':[np.nan, 5.8,6.7, 9.8]}
df = pd.DataFrame(dict)
df.notnull()

    Name    Age  Score
0   True   True  False
1   True   True   True
2  False   True   True
3   True  False   True

In [12]:
import pandas as pd
import numpy as np
dict = {'Name':["rachana","abc", np.nan, "def"],
        'Age': [19, 43, 65, np.nan],
        'Score':[np.nan, 5.8,6.7, 9.8]}
df = pd.DataFrame(dict)
df.fillna("abc")

      Name   Age Score
0  rachana  19.0   abc
1      abc  43.0   5.8
2      abc  65.0   6.7
3      def   abc   9.8